<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>4th Rock From the Sun</title>
  </head>

  <body>
  	<div class='container'>
  		<div class='row py-3'>
  			<div class='col-sm-12'>
	  			<div class='jumbotron'>
	  				<h1 style='text-align: center;'>WELCOME TO <del>EARTH</del> MARS</h1>
	  				<p class='text-center pt-3'><button type="button" class="btn btn-secondary"><a clas='text-light' href='/scrape'>Scrape That Sweet, Sweet Mars Info</a></button></p>
	  			</div>
	  		</div>
  		</div>

  		<div class='row'>
  			<div class='col-med-8'>
  				<h2>Featured Mars Image? Here's One:</h2>
          <div>
  				<img class="img-fluid" src='{{mars_data.featured_image_url}}' alt='Featured Mars Image'>
          </div>
  			</div>
  			<div class='col-med-4'>
  				<h2>Weather on Mars:</h2>
  				<p>{{mars_data.mars_weather}}</p>
  				<h2>Mars Facts</h2>
  				<div class='table-responsive table-borderless'>
            <h4>Facts</h4>
            {% autoescape false %}
  				  {{mars_data.facts}}
            {% endautoescape %}
  				</div>
  			</div>
  		</div>
  		<div class='row'>
  			<div class='col-md-6'>
  				<img class='img-fluid' src='{{mars_data.hemisphere_images[0].img_url}}'>
  				<h3>{{mars_data.hemisphere_images[0].title}}</h3>
  			</div>
  			<div class='col-md-6'>
  				<img class='img-fluid' src='{{mars_data.hemisphere_images[1].img_url}}'>
  				<h3>{{mars_data.hemisphere_images[1].title}}</h3>
  			</div>
  		</div>
  		<div class='row'>
  			<div class='col-md-6'>
  				<img class='img-fluid' src='{{mars_data.hemisphere_images[2].img_url}}'>
  				<h3>{{mars_data.hemisphere_images[2].title}}</h3>
  			</div>
  			<div class='col-md-6'>
  				<img class='img-fluid' src='{{mars_data.hemisphere_images[3].img_url}}'>
  				<h3>{{mars_data.hemisphere_images[3].title}}</h3>
  			</div>
  		</div>

  	</div>
  </body>